html,
body{
  height: 100%;
  background-color: #434152;
  padding: 25px 0;
}
.selected {
  background-color: #0b486b;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}
.unmatched {
  background-image: radial-gradient(#000,#0b486b);
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}
.matched {
  background-color: #fff0;
  color: white;
  border: 0;
}
.card.clickable{
  cursor: pointer;
}
hr{
  border-top: 2px solid white;
}

